body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


table thead tr {
  background-color: darksalmon;
}

table tbody tr {
  background-color: darkgray;
} 

table tbody  tr:hover{
  cursor:pointer;
  background-color:aqua;
}
